body, html {
    height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
    background-image: linear-gradient(
        rgba(255, 255, 255, 0.7),
         rgba(255, 255, 255, 0.7)), 
    url('/static/img/home_mongo.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}
.central-container {
    /* width: 100%; */
    border-style: solid;
    border-width: 5px;
    
}

.row, .col {
	padding: 0;
	margin: 0;
}

.btn, #user_name {
	font-size: 15px;
	padding: 5px !important;
    margin: 5px;
    color: black;
    background-color: tomato;
    border: none;
}
.btn:hover {
    color: black;
    background-color: #91f632;
}


#home-btn-div {
    text-align: center;
    align-items: center;
    padding: 30px 0px 0px 0px;
}

.top-bar-container{ 
    background-color: #91f632;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.top-bar {
    color: black;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    align-items: center;
}
.form-group {
    margin: 0px;
    padding: 0px;
}


.alert {
    margin : 10px !important;
}