body {
    height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
    background-image: linear-gradient(
        rgba(255, 255, 255, 0.7),
         rgba(255, 255, 255, 0.7)), 
    url('/static/img/home_mongo.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


.central-container {
    /* width: 100%; */
    /* border-style: solid; */
    /* border-width: 50px; */
    height: 100%;
    width: 100%;
    padding-bottom: 75px;    /* Footer height */
    
}

.row, .col {
	padding: 0;
	margin: 0;
}

.btn-warning , .btn-primary {
	font-size: 15px;
	padding: 5px !important;
    margin: 5px;
    color:#232f3e;
    border: none;
}

.top-bar-elem {
    height: 33px;
}

.form-group.nav-dropd {

    margin: 5px;
    padding : 1px 0px;
    background-color: teal;
    border-radius: 5px;

}

.btn:hover {
    color:#232f3e;
    background-color:#ffffff;
}

#home-btn-div {
    text-align: center;
    align-items: center;
    background-color: #232f3e;
    margin: 15px 0px 0px 0px;
    padding: 15px 0px 15px 0px;
    position: fixed;
    left:0px;
    bottom:0px;
    width: 100%;
    height: 75px;

}

#item_url {
	font-size: 15px;
	padding: 5px !important;
    margin: 5px;
    color:#232f3e;
    background-color:#fff;
    border: none;
}


#user_name {
	font-size: 18px;
    color:#232f3e;
    background-color:#fff;
    border: none;
}

.container-fluid {
    padding: 0px;
}

.top-container, .top-bar-container{ 
    background-color: #232f3e;
    margin: 0px;
    padding: 0px;
    width: 100%;
    white-space: nowrap;
    text-align: center;
    align-items: center;
}

.container-fluid {
    width: 100%;
}



.top-bar {
    background-color: #232f3e;
    color: #95a0ab;
    text-align: center;
    align-items: center;
    height: 50px;
}
.form-group {
    margin: 0px;
    padding: 0px;
}


.alert {
    margin : 10px !important;
    text-align: center;
}

.homepage-container {
    background-color: white;
    padding: 0px;
}


.card-title {
    font-size: 15px;
    text-align: center;

}

#card-title-container {
    height: 100px !important;
}

#item-cat{

 height: 75px !important;

}

.items-indiv {
    padding: 10px;
}
.form-group {
    padding-top:  10px;
    padding-left: 20px;
    padding-right: 20px;

    padding-bottom: 10px;
    margin: 20px;
}

form-control {
    margin: 5px;
    padding: 5px;
}



/* .items-indiv {
    padding: 30px;
    box-shadow: 10px 10px 5px grey;
} */

#delete-data{
    color: #232f3e;
}


.home-welcome {
    font-size: 30px !important;
    background-color: white;
    box-shadow: 10px 10px 5px grey;
    padding: 30px;
    margin-top: 75px;
    margin-bottom: 75px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}