{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block main %}

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <p>Oops ! There was an error...<br>
                <p>Here is the nasty thing: <br>
                    {{error}}
                </p>

            </p>
            <p>Troubleshooting: <br>
                You might be in one the following known cases (if the error is not so obvious).
                <ul>
                    <li> The URL provided is not correct or not an Currys one. <br>
                    </li>
                    <li> The page you have used does not have a price selected / active. <br>
                        So please double check if a price is indeed chosen and try again.
                    </li>
                    <li> The page type you have used is not covered by the app<br>
                        Here we really only included the standard product pages.
                    </li>
                    <li>Or, the worst case : our request has been blocked by the website (Amazon for instance started doing that).
                        <!-- chrome://settings/clearBrowserData -->
                    </li>
                </ul>

            </p>

        </div>
    </div>
    <div class="row">
        <div class="col">
            <a class="btn btn-warning" href="{{url_for('new_item_func', selected_user = user.user_name)}}">Let's try again</a>
        </div>

        <div class="col" id="home-btn-div">
            <a class="btn btn-warning" href="{{url_for('home_func')}}">Take me Home</a>
        </div>
    </div>
</div>

{% endblock %}