{% extends "base.html" %}

{% block title %}Item Confirmation{% endblock %}

{% block main %}

<h1>Item confirmation before proceeding... </h1>
<hr>

<div class="container">
    <div class="row">
        <div class="col">
            <div class="col">
                <p>Item: {{item.item_short_title}}</p>
                <p>Category : {{item.item_category}}</p>
                <p>Price : {{item.item_currency}}{{item.item_price_float}}</p>
                <p><a href="{{item.item_url}}" target="_blank">Link</a></p>
                <a href="{{item.item_url}}" target="_blank"><img src="{{item.item_image_main_link}}"
                        alt="Item Image"></a>
            </div>
            <form action="{{ url_for('add_item')}}" method="POST">
                <input type="hidden" value="{{item.item_short_title}}" id="item_short_title" name="item_short_title"
                    required>
                <input type="hidden" value="{{item.item_title}}" id="item_title" name="item_title" required>
                <input type="hidden" value="{{item.item_category}}" id="item_category" name="item_category"
                    type="hidden" required>
                <input type="hidden" value="{{item.item_currency}}" id="item_currency" name="item_currency"
                    type="hidden" required>
                <input type="hidden" value="{{item.item_price_float}}" id="item_price_float" name="item_price_float"
                    type="hidden" required>
                <input type="hidden" value="{{item.item_url}}" id="item_url" name="item_url" type="hidden" required>
                <!-- <input type="hidden" value="{{item.user_name}}" id="user_name" name="user_name"
                type="hidden" required>
                <input type="hidden" value="{{item.user_email}}" id="user_email" name="user_email"
                    type="hidden" required> -->
                <button type="submit" class="btn btn-primary">OK!</button>
            </form>
        </div>


    </div>
</div>

{% endblock %}