{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block main %}

<h1>Which item's price would you like to track ?</h1>
<hr>

<form action="/new-item" method="POST">

    <div class="form-group">
        <label>Item's Page Link from Amazon</label>
        <input type="text" class="form-control" id="item-url" name="item-url" placeholder="Please enter the full item's URL here..">
    </div>

    <button type="submit" class="btn btn-primary">Sign up</button>

</form>

{% endblock %}