{% extends "base.html" %}

{% block title %} Add a New Item {% endblock %}

{% block main %}

<h1>Which Amazon Item would you like to add to your portfolio ? </h1>
<hr>

<form action="{{ url_for('new_item_conf_func') }}" method="POST">

    <div class="form-group">
        <label>Item's Page Link from Amazon: </label>
        <input type="text" class="form-control" id="item_url" name="item_url"
            placeholder="Please enter the full item's URL here" required>
        <label>User Name:</label>
        <!-- html5 hybrid input/dropdown to enable new users to add -->
        {% if new_user is sameas true  %}
            <input list="user_names" id="user_name" name="user_name" required>
            <datalist id="user_names">
                {% for user in users %}
                <option value="{{user.user_name}}">
                {% endfor %}
            </datalist>
        
        {% else %}

            <input type="text" class="form-control" id="user_name" 
            name="user_name" value = {{users}} required>

        {% endif %}

        <button type="submit" class="btn btn-primary">Review Item</button>

</form>

{% block script %}
<!-- Google ReCaptcha script
    <script src="https://www.google.com/recaptcha/api.js"></script> -->
{% endblock %}

{% endblock %}