{% extends "base.html" %}

{% block title %}Item Confirmation{% endblock %}

{% block main %}

<h1>Item confirmation before proceeding... </h1>
<hr>

<div class="container">
    <div class="row">
        <div class="col">
            <p>Item: {{item.item_short_title}}</p>
            <p>Category : {{item.item_category}}</p>
            <p>Price : {{item.item_currency}}{{item.item_price_float}}</p>
            <p><a href="{{item.item_url}}" target="_blank">Link</a></p>
        </div>
    </div>
    <div class="col">
        <a href="{{item.item_url}}" target="_blank"><img src="{{item.item_image_main_link}}" alt="Item Image"></a>
    </div>

</div>

{% endblock %}